@madrigal:registry=https://europe-north1-npm.pkg.dev/madrigal-online/madrigal/
//europe-north1-npm.pkg.dev/madrigal-online/madrigal/:always-auth=true

//europe-north1-npm.pkg.dev/madrigal-online/madrigal/:_authToken="ya29.A0AVA9y1vI3nYcvnmxJu1-EmiaKHdegr3dkSdBs04BuMhMfv90YOFD9vlAmB7c1dku-X-nGElJBwgPY6JFDg8tBkuNmU9L0MbHvtjH_wU3xLhcQxGv_SnTPr2fLGP_tZsVZDGqfnxtwDeE-jCry16hF9l-OVtqYUNnWUtBVEFTQVRBU0ZRRTY1ZHI4QlltaThPTTNoRlBIY3ctem5xMXpDQQ0163"