.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

/* .Card-Hand {
  background-color: darkgray;
  height: 135px;
  width: 90px;
  margin: 5px;
  border-radius: 5px;
  border-color: darkgray;
  overflow: hidden;
} */

.Card-Hand-Top:hover {
  transform: scale(2) translate(0px, 30px);
  animation: Card-Zoom-In-Down 0.2s linear;
}

.Card-Hand-Bottom:hover {
  transform: scale(2) translate(0px, -30px);
  animation: Card-Zoom-In-Up 0.2s linear;
}

@keyframes Card-Zoom-In-Down {
  from {
    transform: scale(1) translate(0px, 0px);
  }
  to {
    transform: scale(2) translate(0px, 30px);
  }
}
@keyframes Card-Zoom-In-Up {
  from {
    transform: scale(1) translate(0px, 0px);
  }
  to {
    transform: scale(2) translate(0px, -30px);
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
